@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 255 248 231;
        --color-primary-monochrome: 245 239 224;
        --color-secondary: 80 80 80;
        --color-secondary-bg: 130 130 130;
        --color-secondary-light: 120 120 120;
        --color-accent: 246 92 53;
        --color-clock-blackground: 0 0 0;
    }

    :root[theme='dark'] {
        --color-primary: 86 66 61;
        --color-primary-monochrome: 97 76 70;
        --color-secondary: 250 231 230;
        --color-secondary-bg: 151 137 136;
        --color-secondary-light: 197 179 178;
        --color-accent: 246 92 53;
        --color-clock-blackground: 0 0 0;
    }
}

@layer components {
    .scroll-container {
        @apply w-full p-0;
    }

    .scroll-text-box {
        @apply absolute h-[2160px] w-[50%] overflow-hidden bg-primary pb-[300px] pl-[100px] pr-[100px] pt-[300px] shadow-2xl [transition:color_0.2s_linear,background-color_0.2s_linear,text-decoration-color_0.2s_linear,border-radius_0.1s_ease-out];
    }

    .header-wrapper { 
        @apply relative z-[10];
    }

    .header-divider {
        @apply mb-4 h-2 w-32 bg-accent;
    }

    .icon-link-md {
        @apply color-transition h-5 w-5 cursor-pointer text-secondary-bg hover:text-secondary;
    }

    .icon-link-lg {
        @apply icon-link-md h-8 w-8;
    }

    .icon-svg {
        @apply color-transition inline h-10 w-10 text-secondary;
    }

    .icon-text {
        @apply color-transition inline-block h-10 w-10 text-[2.2rem] font-black text-secondary;
    }

    .header-bg-text {
        @apply color-transition pointer-events-none absolute left-[160px] top-[160px] z-[0] text-[250px] font-black text-primary-monochrome;
    }

    .clock-blackground-sm {
        @apply rounded-[8px] bg-clock-element p-[4px] shadow-lg;
    }

    .clock-blackground-md {
        @apply rounded-[8px] bg-clock-element p-[8px] shadow-lg;
    }

    .clock-list-xl {
        @apply block h-[24px] overflow-hidden text-[24px] font-black leading-[24px];
    }

    .clock-list-sm {
        @apply block h-[10px] overflow-hidden text-[10px] font-semibold leading-[10px];
    }

    .color-transition {
        @apply transition-colors duration-200 ease-linear;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .img-gallery {
        @apply grid grid-cols-4 grid-rows-5 gap-[16px] rounded-[16px] bg-white p-[16px] shadow-[1px_1px_8px_1px_rgba(0,0,0,0.2)];
    }

    .swipe-img {
        @apply h-full w-full rounded-[16px] object-cover;
    }

    .img-layer {
        @apply absolute left-0 top-0 flex h-full w-full -translate-y-full flex-col items-center justify-center rounded-[16px] bg-[rgba(0,0,0,0.6)] text-white transition-transform duration-1000 ease-in-out group-hover:translate-y-0;
    }

    .project-list-item {
        @apply mb-4 flex select-none rounded-[8px] bg-primary-monochrome p-4 shadow-md transition-all duration-200 ease-linear will-change-transform hover:-translate-y-[4px];
    }

    .project-list-img {
        @apply max-h-[70px] min-w-[100px] flex-shrink-0 rounded-[4px] object-cover shadow-lg;
    }

    .acknowledgement-list-img {
        @apply h-[70px] w-[70px] rounded-full object-cover shadow-lg;
    }
}

@media (max-width: 1536px) {
    .scroll-text-box {
        @apply pl-[40px] pr-[40px];
    }
}

@media (max-width: 1280px) {
    .scroll-text-box {
        @apply pl-[20px] pr-[20px];
    }
}

@media (max-width: 968px) {
    .scroll-text-box {
        @apply w-full;
    }
}

/* @media (max-width: 768px) {
    .scroll-text-box {
        @apply w-full;
    }
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
