@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    :root {
        --color-primary: 255 248 231;
        --color-primary-monochrome: 245 239 224;
        --color-secondary: 80 80 80;
        --color-secondary-bg: 130 130 130;
        --color-secondary-light: 120 120 120;
        --color-accent: 246 92 53;
        --color-accent-bg: 215 221 204;
        --color-clock-blackground: 0 0 0;
        --color-focus-outline: 86 19 209;
    }

    :root[theme='dark'] {
        --color-primary: 66 52 48;
        --color-primary-monochrome: 78 62 57;
        --color-secondary: 228 210 209;
        --color-secondary-bg: 151 137 136;
        --color-secondary-light: 197 179 178;
        --color-accent: 246 92 53;
        --color-accent-bg: 49 57 75;
        --color-clock-blackground: 0 0 0;
        --color-focus-outline: 228 210 209;
    }

    a,
    button,
    input {
        @apply outline-2 outline-focus-outline;
    }

    a:focus-visible,
    button:focus-visible,
    input:focus-visible {
        @apply outline;
    }
}

@layer components {
    .brightness-slider {
        @apply h-full w-full cursor-col-resize appearance-none overflow-hidden rounded-full bg-clock-element;
    }

    .brightness-slider::-webkit-slider-thumb {
        @apply w-0 appearance-none shadow-[-110px_0_0_110px_rgb(203,87,79)];
    }

    .brightness-slider::-moz-range-thumb {
        @apply w-0 border-none shadow-[-110px_0_0_110px_rgb(203,87,79)];
    }

    .tab-list-item {
        @apply relative translate-y-[-1px] cursor-pointer pl-[4px] pr-[4px] text-sm font-medium after:absolute after:left-1/2 after:block after:h-[3px] after:w-0 after:-translate-y-[1px] after:bg-accent after:content-[''] after:[transition:width_0.15s_ease-out,left_0.15s_ease-out] hover:after:left-0 hover:after:w-full;
    }

    .scroll-container {
        @apply w-full p-0;
    }

    .scroll-text-box {
        @apply absolute -z-50 h-[2160px] w-1/2 overflow-hidden bg-primary pb-[300px] pl-[80px] pr-[80px] pt-[300px] shadow-2xl [transition:border-radius_0.1s_ease-out] max-[1669px]:pl-[60px] max-[1669px]:pr-[60px] max-2xl:pl-[40px] max-2xl:pr-[40px] max-xl:pl-[20px] max-xl:pr-[20px] max-mobile:w-full;
    }

    .icon-link-md {
        @apply color-transition h-5 w-5 cursor-pointer text-secondary-bg hover:text-secondary;
    }

    .icon-link-lg {
        @apply icon-link-md h-8 w-8;
    }

    .icon-svg {
        @apply color-transition inline h-10 w-10 text-secondary;
    }

    .icon-text {
        @apply color-transition inline-block h-10 w-10 text-[2.2rem] font-black text-secondary;
    }

    .clock-blackground-sm {
        @apply rounded-[8px] bg-clock-element p-[4px] shadow-lg;
    }

    .clock-blackground-md {
        @apply rounded-[8px] bg-clock-element p-[8px] shadow-lg;
    }

    .clock-list-xl {
        @apply block h-[24px] overflow-hidden text-[24px] font-black leading-[24px];
    }

    .clock-list-sm {
        @apply block h-[10px] overflow-hidden text-[10px] font-semibold leading-[10px];
    }

    .color-transition {
        @apply transition-colors duration-200 ease-linear;
    }

    .hidden-content {
        @apply translate-y-[20px] opacity-0;
    }

    .revealed-content {
        @apply translate-y-[0] opacity-100;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .life-list-img-wrapper {
        @apply relative overflow-hidden rounded-[4px];
    }

    .life-list-img {
        @apply h-full w-full scale-[1.01] object-cover transition-transform duration-700 ease-in-out;
    }

    .life-list-img-mask-bg {
        @apply absolute left-0 top-0 h-full w-full bg-[#000000a2] opacity-0 transition-opacity duration-700 ease-in-out;
    }

    .life-list-img-mask-frame {
        @apply pointer-events-none absolute left-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 opacity-0 outline outline-[2px] outline-white [transition:height_0.7s_ease-in-out,width_0.7s_ease-in-out,opacity_0.7s_ease-in-out];
    }

    .life-list-img-caption {
        @apply pointer-events-none absolute left-1/2 top-1/2 w-full -translate-x-1/2 -translate-y-[30%] scale-[1.01] text-center text-white opacity-0 transition-all duration-700 ease-in-out;
    }

    .section-list-item {
        @apply mb-4 flex rounded-[8px] bg-primary-monochrome p-4 shadow-md will-change-transform;
    }

    .section-list-title {
        @apply font-medium;
    }

    .section-list-summary {
        @apply mt-2 text-sm text-secondary-light;
    }

    .project-list-img-wrapper {
        @apply h-fit flex-shrink-0 overflow-hidden rounded-[4px] shadow-lg;
    }

    .project-list-img {
        @apply w-[100px] object-cover;
    }

    .book-list-img {
        @apply max-h-[70px] flex-shrink-0 rounded-[4px] object-cover shadow-lg;
    }

    .testimonials-list-img {
        @apply h-[70px] w-[70px] rounded-full object-cover shadow-lg;
    }

    .keypoint-list-item {
        @apply mr-2 mt-2 inline-block rounded-[8px] bg-accent-bg pb-[4px] pl-[8px] pr-[8px] pt-[4px] text-sm font-medium text-secondary shadow;
    }

    .icons-list-item {
        @apply absolute right-4 top-4;
    }

    .focusable-li {
        @apply focus-within:outline focus-within:outline-2 focus-within:outline-focus-outline;
    }
}
